<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Superheroes</title>
</head>
<body>
<h1><%= @team.name %></h1>
<<<<<<< HEAD
<h2><%= 'Team Motto: ' + @team.motto %></h2>  
<!--string and + to return the expected text-->
=======
<h2><%= 'Team Motto: ' @team.motto %></h2>  
>>>>>>> 79595fe4663491bb8cb1a82590c388ac3015c168
<% @heroes.each do |member| %>
    <h2>Hero Name: <%= member.name%></h2>
    <p>Hero Power: <%= member.power %></p><br>
    <p>Hero Biography: <%= member.bio %></p><br>
  <% end %>
</body>
</html>


